{% extends 'layout.html' %} {% block main %}
<h2 class="ui header">
  <i class="address card icon"></i>
  <div class="content">
    {{voucher_type}} Voucher
  </div>
</h2>
<div class="ui horizontal divider">
  Create New
</div>

<form class="ui form" action="" method="post" id="voucher_form">
  <input type="hidden" name="ledger_id" value="">
  <h4 class="ui dividing header">
    General Information
  </h4>
  <div class="field">
    <div class="two fields">
      <div class="field">
        <label>Ledger Name</label>
        <div class="ui search" id="ledger_input">
          <input class="prompt" required type="text" name="ledger_name" value="" placeholder="Ledger Name">
        </div>
      </div>
      <div class="field">
        <label>Date</label>
        <div class="ui calendar" id="datepicker" style="width:200px">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" required placeholder="Date" name="date" readonly>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Invoice No</label>
    <input type="text" required name="inv_no" autocomplete="off" value="" style="width:200px"placeholder="Invoice No">
  </div>


  <div class="field">
    <div class="ui grid">
      <div class="twelve wide column">
        <table class="ui celled padded table">
          <thead>
            <tr>
              <th style="width:150px">Tax Rate</th>
              <th>Amount</th>
              <th>Tax</th>
              <th>Amount With Tax</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody id="table_tbody">
            <tr>
              <td>
                <select class="ui fluid dropdown required" name="rate">
                  <option value="">Taxrate</option>
                  {% for rate in taxrates %}
                  <option value="{{rate.taxrate}}">{{rate.display}}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <input type="text" name="amount" required value="" autocomplete="off" placeholder="Amount">
              </td>
              <td>
                <input type="text" name="" value="" disabled>
              </td>
              <td>
                <input type="text" name="" value="" disabled>
              </td>
              <td>
                <div class="ui toggle checkbox">
                  <input type="checkbox" value="True">
                  <label></label>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>
                <button type="button" class="ui teal button" onclick="addrows()">
                  <i class="plus icon"></i>
                </button>
              </th>
              <th><h5 id="total_amount_p"></h5></th>
              <th><h5 id="total_tax_p"></h5></th>
              <th><h5 id="total_amount_wth_tax_p"></th>
              <th>
                <button type="button" class="ui red button" onclick="deleterows(4)">
                  <i class="trash icon"></i>
                </button>
              </th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <th class="right aligned">
                Roundoff:
              </th>
              <th>
                <div class="ui right labeled input">
                  <div class="ui orange label" onclick="adjust('-')"><i class="minus icon"></i></div>
                  <input type="text" name="roundoff" value="0" style="width:20px" id=roundoff>
                  <div class="ui yellow label" onclick="adjust('+')"><i class="plus icon"></i></div>
                </div>
              </th>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <th class="right aligned">Invoice Value:</th>
              <th><h5 id="final_amount">Final</h5></th>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="four wide column">
        <div class="ui raised segment">
          <a class="ui red ribbon label">Overview</a>
          <br>
          <div id="ledger_overview">
          </div>
          <div class="ui divider"></div>

          <a class="ui blue ribbon label">Voucher</a>
          <br>
            <div id="voucher_overview">

            </div>
        </div>
      </div>
    </div>

  </div>
  <br>
  <div class="ui field">
    <button type="button" name="button" class="ui primary button" onclick="validate_voucher()">Save</button>
  </div>

</form>

<br/>
<script type="text/javascript">
{% include 'add_voucher.js' %}
</script>
{% endblock%}
