{% extends "layout.html" %} {% block title %} Add Ledger {% endblock %}
{% block main %}
<div class="ui container">
  <br>
  <h2 class="ui header">
    <i class="address card icon"></i>
    <div class="content">
      New Ledger
    </div>
  </h2>
  <div class="ui horizontal divider">
   Create New
 </div>
  <form class="ui form" action="index.html" method="post" onsubmit="return check();">
    <div class="ui grid">

        <div class="eight wide column">
          <div class="field">
            <label>Ledger Name</label>
            <input type="text" name="ledger_name" value="" placeholder="Ledger Name">
          </div>
          <div class="field">
            <label>GSTIN</label>
            <input type="text" name="gstin" value="" placeholder="GSTIN (if any)" >
            <div class="ui pointing red basic label">
              GSTIN Mismatch
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="field">
            <label>Place</label>
            {% include 'state_name_select.html' %}
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="sez" value="True">
              <label>Special Economic Zone</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="sez" value="True">
              <label>Composition Scheme</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="sez" value="True">
              <label>Un-registered Dealer</label>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="eight wide column">
          <div class="field">
            <button class="ui primary button"> Save </button>
          </div>
        </div>


      </div>
    </div>



  </form>


</div>


{% endblock %}
