<!--- UI Confirmation Modal-->
<div class="ui basic modal" id="confirmation_modal">
  <div class="ui icon header" id="confirmation_modal_header">
    <i class="archive icon"></i>
  </div>
  <div class="content" id="confirmation_modal_content">
    <p></p>
  </div>
  <div class="actions" id="confirmation_modal_actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i> No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i> Yes
    </div>
  </div>
</div>
<!--- UI Confirmation Modal-->
