{% extends "layout.html" %} {% block title %} Home {% endblock %}

{% block main %}
<div class="ui three column grid">
  <div class="eight wide column">
    <canvas id="salesChart"></canvas>
  </div>
  <div class="four wide columnt">
    <canvas id="salesPartyChart"></canvas>
  </div>
</div>
<div class="ui three column grid">
  <div class="eight wide column">
    <canvas id="purchaseChart"></canvas>
  </div>
  <div class="four wide columnt">
    <canvas id="purchasePartyChart"></canvas>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
{% include 'dashboard.js' %}
</script>

{% endblock %}
