{% extends 'layout.html' %} {% block main %}
<script type="text/javascript">
document.getElementsByClassName('sidebar')[0].classList.toggle('visible')
document.getElementsByClassName('sidebar')[1].classList.toggle('visible')
</script>
<h3>GSTR-3b-month</h3>

<div class="ui container">
  <div class="ui top attached segment">
    <div class="ui top attached label">
      <p>3.1 Details of Outward Supplies and inward supplies liable to reverse charge</p>
    </div>
    <table class="ui celled padded table">
      <thead>
        <tr>
          <th>Nature of Supplies </th>
          <th>Total Taxable value </th>
          <th>Integrated Tax </th>
          <th>Central Tax </th>
          <th>State/UT Tax </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>(a) Outward taxable supplies (other than zero rated, nil rated and exempted)</td>
          <td> {{"%0.2f"%(data.table3_1.row_a.taxable_value)}} </td>
          <td> {{"%0.2f"%(data.table3_1.row_a.igst)}} </td>
          <td> {{"%0.2f"%(data.table3_1.row_a.cgst)}} </td>
          <td> {{"%0.2f"%(data.table3_1.row_a.sgst)}} </td>
        </tr>
        <tr>
          <td>(b) Outward taxable supplies (zero rated )</td>
          <td> {{"%0.2f"%(data.table3_1.row_b.taxable_value)}} </td>
          <td> {{"%0.2f"%(data.table3_1.row_b.igst)}} </td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>(c) Other outward supplies (Nil rated, exempted)</td>
          <td> {{"%0.2f"%(data.table3_1.row_c.taxable_value)}} </td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>(d) Inward supplies (liable to reverse charge)</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>(e) Non-GST outward supplies</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="ui container">
  <div class="ui top attached segment">
    <div class="ui top attached label">
      <p>3.2 Of the supplies shown in 3.1 (a), details of inter-state supplies made to unregistered persons, composition taxable person and UIN holders</p>
    </div>
    <table class="ui celled padded table">
      <thead>
        <tr>
          <td>Supplies made to Unregistered Persons</td>
        </tr>
        <tr>
          <th>Place of Supply (State/UT) </th>
          <th>Total Taxable value </th>
          <th>Integrated Tax </th>
        </tr>
      </thead>
      <tbody>
        {% for row in data.table3_2.row_ur %}
        <tr>
          <td> {{ row.pos }}</td>
          <td> {{"%0.2f"%(row.taxable_value) }} </td>
          <td> {{"%0.2f"%(row.igst) }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table class="ui celled padded table">
      <thead>
        <tr>
          <td>Supplies made to Composition Taxable Persons</td>
        </tr>
        <tr>
          <th>Place of Supply (State/UT) </th>
          <th>Total Taxable value </th>
          <th>Integrated Tax </th>
        </tr>
      </thead>
      <tbody>
        {% for row in data.table3_2.row_cmp %}
        <tr>
          <td> {{ row.pos }}</td>
          <td> {{"%0.2f"%(row.taxable_value) }} </td>
          <td> {{"%0.2f"%(row.igst) }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table class="ui celled padded table">
      <thead>
        <tr>
          <td>Supplies made to UIN Holders</td>
        </tr>
        <tr>
          <th>Place of Supply (State/UT) </th>
          <th>Total Taxable value </th>
          <th>Integrated Tax </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ui container">
  <div class="ui top attached segment">
    <div class="ui top attached label">
      <p>4. Eligible ITC</p>
    </div>
    <table class="ui celled padded table">
      <thead>
        <tr>
          <th>Details</th>
          <th>Integrated Tax </th>
          <th>Central Tax </th>
          <th>State/UT Tax </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>(A) ITC Available (whether in full or part)</td>
        </tr>
        <tr>
          <td>(1) Import of goods</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>(2) Import of services</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>(3) Inward supplies liable to reverse charge (other than 1, 2 above)</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>(4) Inward supplies from ISD</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>(5) All other ITC</td>
          <td>{{"%0.2f"%(data.table4.igst)}}</td>
          <td>{{"%0.2f"%(data.table4.cgst)}}</td>
          <td>{{"%0.2f"%(data.table4.sgst)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ui container">
  <div class="ui top attached segment">
    <div class="ui top attached label">
      <p>5. Values of exempt, nil-rated and non-GST inward supplies</p>
    </div>
    <table class="ui celled padded table">
      <thead>
        <tr>
          <th>Nature of Supplies</th>
          <th>Inter-State Supplies</th>
          <th>Intra-State Supplies</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>From a supplier under composition scheme, Exempt and Nil rated supply </td>
          <td>{{"%0.2f"%(data.table5.inter_state_value)}}</td>
          <td>{{"%0.2f"%(data.table5.intra_state_value)}}</td>
        </tr>
        <tr>
          <td>Non GST supply</td>
          <td>--</td>
          <td>--</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="ui container">
  <div class="ui top attached segment">
    <div class="ui top attached label">
      <p>6. Payment of tax</p>
    </div>

    <table class="ui celled padded table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Tax payable</th>
          <th>Integrated Tax</th>
          <th>Central Tax</th>
          <th>State/UT Tax</th>
          <th>CESS</th>
          <th>Tax/Cess Payable in cash </th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <td>Integrated Tax</td>
          <td>{{"%0.2f"%(data.table3_1.row_a.igst + data.table3_1.row_b.igst)}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Central Tax</td>
          <td>{{"%0.2f"%(data.table3_1.row_a.cgst)}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>State/UT Tax</td>
          <td>{{"%0.2f"%(data.table3_1.row_a.sgst)}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
