<!DOCTYPE html>
<html lang="en">

<head>
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
  <meta charset="utf-8" />
  <meta content="initial-scale=1, width=device-width" name="viewport" />

  <link rel="stylesheet" href="/static/semantic/semantic.css">

  <script src="/static/semantic/jquery-3.2.1.js"></script>
  <script src="/static/semantic/semantic.js"></script>

  <title>{% block title %}{% endblock %} | GSTBull</title>
  {% block head %} {% endblock %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('.dropdown')
        .dropdown({
          // you can use any ui transition
          transition: 'drop'
        });
    });
  </script>
</head>

<body>
  {% include 'dimmed_message.html' %}

  {% if session.company_id %}
    {% include 'vertical_bars.html' %}
  {% endif %}

  <div class="ui container">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <header>
      {% for category, message in messages %} {% endfor %}
    </header>
    {% endif %} {% endwith %}
    <main>
      <div class="ui contianer">
        {% include 'horizontal_menu.html' %}
        {% block main %} {% endblock %}
      </div>
    </main>
  </div>
  {% include 'message_modal.html' %}
  {% include 'confirmation_modal.html' %}





</body>

</html>
