<script type="text/javascript">
var selects = function(a,b) {
  console.log(a,b);
}
    $(document).ready(function() {
$('#github')
  .search({
    type          : 'category',
    minCharacters : 3,
    onSelect      : function(result, response) { console.log(result, response); },
    apiSettings   : {
      onResponse: function(githubResponse) {
        var
          response = {
            results : {}
          }
        ;
        // translate GitHub API response to work with search
        $.each(githubResponse.items, function(index, item) {
          var
            language   = item.language || 'Unknown',
            maxResults = 8
          ;
          if(index >= maxResults) {
            return false;
          }
          // create new language category
          if(response.results[language] === undefined) {
            response.results[language] = {
              name    : language,
              results : []
            };
          }
          // add result to category
          response.results[language].results.push({
            title       : item.name,
            description : item.description,
            url         : '#',
          });
        });
        return response;
      },
      url: '//api.github.com/search/repositories?q={query}'
    }
  })
;
/*
$('#github > .results > .result').on('click', function(e){
    e.preventDefault();
    console.log( $(this).attr('href') );
});*/
    });
</script>
<div class="ui search" id="github">
  <div class="ui left icon input">
    <input class="prompt" type="text" placeholder="Search GitHub">
    <i class="github icon"></i>
  </div>
</div>
