<select class="ui search dropdown" name="pos" id="place_of_supply">

    <option value="">Place of Supply</option>
    <option  value="19">19-West Bengal</option>
    <option  value="35">35-Andaman and Nicobar Islands</option>
    <option  value="37">37-Andhra Pradesh</option><option  value="12">12-Arunachal Pradesh</option>
    <option  value="18">18-Assam</option><option  value="10">10-Bihar</option>
    <option  value="04">04-Chandigarh</option><option  value="22">22-Chhattisgarh</option>
    <option  value="26">26-Dadra and Nagar Haveli</option><option  value="25">25-Daman and Diu</option>
    <option  value="07">07-Delhi</option><option  value="30">30-Goa</option>
    <option  value="24">24-Gujarat</option><option  value="06">06-Haryana</option>
    <option  value="02">02-Himachal Pradesh</option><option  value="01">01-Jammu and Kashmir</option>
    <option  value="20">20-Jharkhand</option><option  value="29">29-Karnataka</option>
    <option  value="32">32-Kerala</option><option  value="31">31-Lakshadweep</option>
    <option  value="23">23-Madhya Pradesh</option><option  value="27">27-Maharashtra</option>
    <option  value="14">14-Manipur</option><option  value="17">17-Meghalaya</option>
    <option  value="15">15-Mizoram</option><option  value="13">13-Nagaland</option>
    <option  value="21">21-Odisha</option><option  value="34">34-Puducherry</option>
    <option  value="03">03-Punjab</option><option  value="08">08-Rajasthan</option>
    <option  value="11">11-Sikkim</option><option  value="33">33-Tamil Nadu</option>
    <option  value="36">36-Telangana</option><option  value="16">16-Tripura</option>
    <option  value="09">09-Uttar Pradesh</option><option  value="05">05-Uttarakhand</option>
    <option  value="97">97-Other Territory</option>
</select>
