{% extends 'layout.html' %} {% block main %}
<script type="text/javascript">
{% include 'validate.js'%}
</script>

  <div class="ui middle aligned list">
    <div class="ui container three column grid">
        <div class="row">
          <div class="column"></div>
          <div class="column">
            <h2 style="text-align:center;">Authenticate</h2>
            <div class="ui horizontal divider">
              Select One
            </div>
            {% for item in authList %}
            <div class="item">
              <div class="content ui raised segment"
                onclick="login_handler('{{item.gstin}}','{{item.name}}')">
                <div class="header">
                  <h3>{{item.name}}</h3>
                </div>
                <div class="ui label blue">
                  <p>{{item.gstin}}</p>
                </div>
                <div class="ui label yellow">
                  <p>{{item.dealer}}</p>
                </div>

              </div>
            </div>
            {% endfor %}
          </div>
          <div class="column"></div>
        </div>
  </div>
</div>

{% endblock %}
