<div class="ui left vertical labeled icon sidebar menu  visible" id="sidebar">
  <a class="item">
    <i class="home icon"></i>
    GSTR
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    B2B
  </a>
  <a class="item" href="/gstr3b/2017/Dec">
    <i class="smile icon"></i>
    3B
  </a>
</div>
<div class="ui right one item vertical labeled icon sidebar menu push visible" id="downbar">
  <a class="item">
  <i class="home icon"></i>
  Home
</a>
  <a class="item" href="{{url_for('addsales')}}">
  <i class="block layout icon"></i>
  Sales
</a>
  <a class="item" href="{{ url_for('addledger')}}">
  <i class="smile icon"></i>
  Ledgers
</a>
  <a class="item" href="{{url_for('addpurchase')}}">
  <i class="calendar icon"></i>
  Purchase
</a>
  <a class="item">
  <i class="mail icon"></i>
  ITC
</a>

  <a class="item">
  <i class="shop icon"></i>
  Backup
</a>
  <a class="item">
  <i class="settings icon"></i>
  Settings
</a>
</div>
